*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------BARA DE NAVIGARE-----------------------------------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    background-color:  #000000;
    height: 10vh;
    font-size: 135%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
}

li{
    float : right;
    list-style-type: none;
}

li a{
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
    margin-right: 7rem;
    letter-spacing: 5px;
    font-size: 117%;
}

li a:hover {
    background-color: grey;
}



/*---------------ICONITA + TITLUL SITE-ULUI-------------*/
.title{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.title img{
    width: 60px;
    height: 50px;
}


.title h2{
    color: white;
    letter-spacing: 4px;
}

/*-------------------------------------------------END BARA DE NAVIGARE---------------------------------------------------------*/

.im-pr-index2{
    background-color: #56C6D4;
    display: flex;
}

.im-pr-index2 img{
    height: 90vh;
    position: relative;
    left: -100px;
   
}

.cerinta{
    text-align:center;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sb{
    height: 100px;
    width: 150 px;
    font-size: 210%;
    margin-bottom: 100px;
    margin-left: 45px;
}

.search-bars{
    align-items: center;
    justify-content: space-between;
}

.cerinta{
    color: #FFFFFF;
    font-size: 160%;
}

.body{
    background: linear-gradient(
        to right,
        pink 0%,
        pink 50%,
        blue 50%,
        blue 100%
    );
    
}