/* old code - de pastrat in caz ca nu merge cel nou
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.im-pr-about {
    background-color: #56C6D4;
    display: flex;
}

.im-pr-about img {
    height: 90vh;
    position: relative;
    float: right;
}

.info-about h2 {
    color: #FFFFFF;
    font-size: 120%;
    margin-top: 6.5rem;
    margin-left: 3.8rem;
    margin-right: 3.7rem;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    border-width: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
}

.info-about h3 {
    color: #FFFFFF;
    font-size: 113%;
    margin-top: 13rem;
    margin-left: 4rem;
    margin-right: 3.5rem;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    border-width: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
.section1{
    background-color: #56C6D4;
}
.section2{
    background-color: #56C6D4;
    width: 100%;
}
.im-pr-about{
    background-color: #56C6D4;
    display: flex;
    width:100%;
    min-width:1000px;
    height:auto;

}

.im-pr-about img{
    width: 70%;
    min-width:50%;
    object-fit:cover;
    position: relative;
    float:right;
    display: block;
    margin-left: 17%;
}

.info-about h2{
    width: 350px;
    color: #FFFFFF;
    font-size: 150%;
    margin-top: 55%;
    text-align: center;
    margin-right: 10%;
    margin-left: 42%;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
    word-wrap: break-word;
}

.info-about h3{
    width: 250px;
    color: #FFFFFF;
    font-size: 150%;
    margin-top: 45%;
    text-align: center;
    margin-right: 20%;
    margin-left: 55%;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
    word-wrap: break-word;
}



/*INCEPUT MEDIA*/

@media only screen and (max-width: 1000px) {
    *{
        background-color: #56C6D4;
    }
   h2{
       color:#000000;
   } 
 /* .navbar{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:  #000000;
        font-size: 200%;
        font-family: 'Montserrat', sans-serif;
        background-color: #56C6D4;
        color: black;
    }
    
li{
    float :none;
    list-style-type: none;
    align-items: center;

}

li a{
    display: flex;
    margin-right: -30%;
    color: black;
    letter-spacing: 5px;
    margin-top: 55%;
    font-size: 222%;
}

li a:hover {
    background-color: grey;
}

.title{

    margin-top: 11%;
    width: 55%;
    
}

.title img{
    width: 150px;
    height: 150px;
}


.title h2{
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
}
*/


.im-pr-about img{
    flex-direction: column;
    image-orientation: flip;
    background-color: #56C6D4;
    display: none;
}

.info-about h2{
    width: 450px;
    color: #FFFFFF;
    font-size: 200%;
    margin-top: 55%;
    text-align: center;
    margin-right: 10%;
    margin-left: 55%;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
    word-wrap: break-word;
}

.info-about h3{
    width: 350px;
    color: #FFFFFF;
    font-size: 200%;
    margin-top: 45%;
    text-align: center;
    margin-right: 20%;
    margin-left: 70%;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
    word-wrap: break-word;
}
}   

/*end media*/
