/*-bodyul-*/
.im-pr{
    display: flex;
    /*background-color: #56C6D4;*/
    overflow: hidden;
}
.im-pr2{
    background-color: #56C6D4;
    width: 40%;
}
.im-pr img{
    width: 60%;
    min-height: 860px;
    object-fit: fill;
} 
/*---MESAJELE---*/
.mess1{
    margin: 0 auto;
    color: #D46456;
    font-size: 225%;
    margin-top: 3em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.mess2{
    margin: 0 auto;
    color: #50350f;
    font-size: 199%;
    margin-top: 1em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}


.mess3{
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 125%;
    margin-top: 1em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
}
/*-buton-ul de get started-*/
.start{
    float: right;
    margin-top: 5rem;
}

.start a{
    font-size: 150%;
    margin-right: 1em;
    background-color: #F26655;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border:1px solid #333;
    border-style:groove;
    border-width: 4px;
    border-radius: 8px;
    box-shadow: 1px 1px #333;
}

.start a:hover{
    background-color: #46150f;
}

/*--gata buton--*/
@media screen and (max-width: 768px) {
    .im-pr img{
        display: none;
    }
    .im-pr2{
        width: 100%;
    }
}
