*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----BARA DE NAVIGARE----*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #000000;
    font-size: 135%;
    font-family: 'Montserrat', sans-serif;
    height: 10%;
}
ul{
    display: flex;
    flex-direction: row-reverse;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    letter-spacing: 5px;
    font-size: 117%;
    font-weight: bold;
}
li a:hover {
    background-color: grey;
}
/*--ICONITA + TITLUL SITE-ULUI--*/
.title{
    display: flex;
}
.title img{
    width:77px;
}
.title h2{
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    h2{
        display: none;
    }
}
/*--END BARA DE NAVIGARE--*/
