/*-------------------------------------------------------BARA DE NAVIGARE-----------------------------------------------------------*/
body{
    height: 100%;
}
.section1{
    width: 100%;
    background-color: #56C6D4;
}
.section2{
    background-color: #56C6D4;
    /*background-size: cover;*/
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    background-color:  #000000;
    height: 15%;
    font-size: 135%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
}

li{
    float : right;
    list-style-type: none;
    width: 25%;
}

li a{
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
    margin-right: 22rem;
    letter-spacing: 5px;
    font-size: 117%;
}

li a:hover {
    background-color: grey;
}



/*---------------ICONITA + TITLUL SITE-ULUI-------------*/
.title{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    width: 24%;
    
}

.title img{
    width: 60px;
    height: 50px;
}


.title h2{
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
}

/*-------------------------------------------------END BARA DE NAVIGARE---------------------------------------------------------*/


@media only screen and (max-width: 1000px) {
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:  #000000;
        font-size: 200%;
        font-family: 'Montserrat', sans-serif;
        background-color: #56C6D4;
        color: black;
    }
    
li{
    float :none;
    list-style-type: none;
    align-items: center;

}

li a{
    display: flex;
    margin-right: -30%;
    color: black;
    letter-spacing: 5px;
    margin-top: 55%;
    font-size: 222%;
}

li a:hover {
    background-color: grey;
}

.title{

    margin-top: 11%;
    width: 55%;
    
}

.title img{
    width: 150px;
    height: 150px;
}


.title h2{
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
}
}
