*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------BARA DE NAVIGARE-----------------------------------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    background-color:  #000000;
    height: 10vh;
    font-size: 135%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
}

li{
    float : right;
    list-style-type: none;
}

li a{
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
    margin-right: 7rem;
    letter-spacing: 5px;
    font-size: 117%;
}

li a:hover {
    background-color: grey;
}



/*---------------ICONITA + TITLUL SITE-ULUI-------------*/
.title{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.title img{
    width: 60px;
    height: 50px;
}


.title h2{
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
}

/**/

.im-pr-about{
    background-color: #56C6D4;
    display: flex;
}

.im-pr-about img{
    height: 90vh;
    position: relative;
    float: right;
}

.info-about h2{
    color: #FFFFFF;
    font-size: 120%;
    margin-top: 6.5rem;
    margin-left: 3.8rem;
    margin-right: 3.7rem;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    border-width: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
}

.info-about h3{
    color: #FFFFFF;
    font-size: 113%;
    margin-top: 13rem;
    margin-left: 4rem;
    margin-right: 3.5rem;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #32B5C5;
    background: #32B5C5;
    border-radius: 14px;
    border-width: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px #888888;
}
